<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-credit-card"></i>
                    <h2>Medios de Pagos</h2>
                    <p>En Laurent Watches, Paga con tarjeta o mediante transferencia bancaria para una experiencia de compra sin complicaciones.</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-gift"></i>
                    <h2>Lideres en el mercado</h2>
                    <p>Somos Laurent Watches, una marca comprometida con la excelencia y la satisfacción del cliente. Nos esforzamos por ofrecerte productos y servicios de calidad que superen tus expectativas."</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-user-shield"></i>
                    <h2>Seguridad, de principio a fin</h2>
                    <p>En Laurent Watches, tu seguridad es nuestra prioridad. Además, ofrecemos una política de devoluciones sin complicaciones para garantizar tu satisfacción total.</p>
                </article>
            </div>
        </div>
    </div>
</footer>
</html>